@page "/SampleLaakeData"
@inject AuthenticationStateProvider authProvider
@inject IUserData userData
@inject ILaakeMuotoData laakemuotoData
@inject IOireetData oireetData
@inject IKipumittariData kipumittariData
@inject IOireKuvausData oirekuvausData
@inject ILaakeKayttoData laakekayttoData
@inject IYoMukaanData yomukaanData
@inject ILaakeData laakeData

<h3>SampleLaakeData</h3>

@code {

    private async Task GenerateMuoto()
    {
        
    }
}
